<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/util.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
    </head>
    
    <body>
        
            <%- include('../modules/header')%>

			<div class="container mt-5">
                
                        <div class="wrap-table100">
                            <div class="table100">
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th class="column1"></th>
                                            <th class="column2">Name</th>
                                            <th class="column3">Type</th>
                                            <th class="column4">Price</th>
                                            <th class="column5"></th>
                                            <th class="column6"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <% _.each(items, function(item) { %>
                                            <tr>
                                                    <td class="column1"><a href="/product/<%= item.id%>/"><img src="/images/<%= item.image_groups[0].images[0].link %>" style="height: 200px; width: 125.7px;"></a></td>
                                                    <td class="column2"><%= item.name %></td>
                                                    <td class="column3"><%= item.primary_category_id%></td>
                                                    <td class="column4">$<%= item.price%></td>
                                                    <td class="column5"></td>
                                                    <td class="column6"><a class="btn btn-success"  href="/cart/add/<%= item.id %>">Add to cart</a></td>
                                                </tr>
                                            <% }); %>
                                     </tbody>
                                    </table>
                             
                        </div>
                    </div>
			</div>       
		</body>		
		   <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>


</html>