<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/util.css" />
        <link rel="stylesheet" href="/stylesheets/main.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <script src="https://checkout.stripe.com/checkout.js"></script>
    </head>
    
    <body>
            <%- include('./modules/header')%>										
					<div class="container">
							<div class="row">
							<nav aria-label="breadcrumb">
											<ol class="breadcrumb" style="background: transparent;">										                       
                                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
											</ol>
										</nav>										
							</div>
			</div>

			<div class="container">
				<div class="wrap-table100">
                    <div class="table100">
                        <table>
                            <thead>
                                <tr class="table100-head">
                                    <th class="column1"></th>
                                    <th class="column2">Name</th>
                                    <th class="column3">Quantity</th>
                                    <th class="column4">Price</th>
                                    <th class="column5">Total</th>
                                    <th class="column6"></th>                                   
                                </tr>
                            </thead>
                            <tbody>
                                    <% _.each(session.cart.items, function(item) { %>
                                    <tr>
                                            <td class="column1"><a href="/product/<%= item.item.id%>/"><img src="/images/<%= item.item.image_groups[0].images[0].link %>" style="height: 200px; width: 125.7px;"></a></td>
                                            <td class="column2"><%= item.item.name %></td>
                                            <td class="column3" style="font-weight: 600;"><%= item.qty%></td>
                                            <td class="column4" style="font-weight: 600;">$<%= item.item.price%></td>
                                            <td class="column5" style="font-weight: 600;">$<%= item.item.price * item.qty%></td>
                                            <td class="column6"><a class="btn btn-danger" href="/cart/remove/<%=item.item.id%>"><i class="far fa-trash-alt"></i></a></td>
                                        </tr>
                                    <% }); %>
                             </tbody>
                             <tfoot>
                                <tr class="table100-head" style="height: 60px; background: #212529">
                                    <th class="column1"></th>
                                    <th class="column2"></th>
                                    <th class="column3"></th>
                                    <th class="column4">Total</th>
                                    <th class="column5">$<%= session.cart.totalPrice%></th>
                                    <th class="column6">
                                            <div id="shop"><button id="buttonCheckout" class="btn btn-info">Checkout</button></div>
                                        
                                    </th>                                   
                                </tr>
                             </tfoot>
                            </table>
                     
                </div>
            </div>
			</div>       
		</body>		
		   <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/checkout.js"></script>

</html>