<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/slider.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/lightslider.css" />
    	   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  

   
      
    </head>
    
    <body>
        <%- include('./modules/header')%>
										
					<div class="container">
							<div class="row">
							<nav aria-label="breadcrumb">
											<ol class="breadcrumb" style="background: transparent;">										                       
                                                <li class="breadcrumb-item" ><a href="/">Home</a></li>
                                                <li class="breadcrumb-item"><a href="/category/<%= gender %>/"><%= gender %></a></li>      
                                                <li class="breadcrumb-item"><a href="/category/<%= gender %>/<%= subcat %>/"><%= subcat %></a></li>  
                                                <li class="breadcrumb-item"><a href="/category/<%= gender %>/<%= subcat %>/<%= norm_type %>/"><%= type %></a></li>                      
                                                <li class="breadcrumb-item active" aria-current="page"><%= product %></li>
											</ol>
										</nav>
							</div>
			</div>
            <div class="container"> 
              <div class="row">                              
                    <div class="product product-view" style="width:auto;">
                            <div class="img-container" >
                              <!--SLIDER START-->
                              <ul class="cd-gallery">
                                  <li>
                                    <a href="javascript:void(0);">
                                      <ul class="cd-item-wrapper">
                                          <% _.each(item.image_groups[0].images, function(image, index) { %>
                                            <% if(index == 0){ %>
                                              <li class="selected">
                                                  <img src="/images/<%= image.link%>" alt="Preview image">
                                                </li>
                                          
                                           <%} else if(index == 1){ %>
                                            <li class="move-right">
                                                <img src="/images/<%= image.link%>" alt="Preview image">
                                              </li>
                                            <% } else{%>
                                            <li>
                                                <img src="/images/<%= image.link%>" alt="Preview image">
                                              </li>
                                              <% }%>
                                          <% }); %>
                                        
                                      </ul> 
                                    </a>
                              
                                    
                                  </li>
                                  </ul>
                              <!--SLIDER END-->
                              
                              <!-- <img src="/images/<%= item.image_groups[0].images[0].link %>" style="width: 70%; object-fit: scale-down;"> -->
                            </div>
                            <div class="product-info">
                              <div class="product-content">
                                <h1><%= item.name %></h1>
                                <p><%= item.page_description %></p>
                                <% if (item.long_description[0]=='<'){%>
                                <%- item.long_description %>
                                <% } %>
                                <div class="col-md-6">
                                  <div class="card " style="padding-left:15px; padding-bottom: 15px;">
                                      <% _.each(item.variation_attributes, function(variant, index) { %>
                                        <p style="padding-top: 5px; text-transform: capitalize;"><%= variant.name%></p>
                                        <div class="demo">
                                            
                                              <%if (variant.name.toUpperCase() == 'SIZE') {%>
                                                <select>
                                                    <% _.each(variant.values, function(variants, index2) { %>
                                                      <option><%= variants.name %></option>                                                                             
                                                      <% }); %> 
                                                </select>
                                                
                                                <% } else{%>
                                                  <% _.each(variant.values, function(variants, index2) { %>
                                                    <input type="radio" name="radios<%= variant.name%>" title="<%= variants.name %>">                                                                                   
                                                    <% }); %> 
                                                  <%}%>                                           
                                        </div>
                                        <% }); %>                                                                          
                                  </div>
                                </div>
                                <div class="buttons">                                   
                                  <a id="btnBuy" class="btn btn-primary buy" href="/cart/add/<%= item.id %>">Buy</a>  
                                  <a class="btn btn-success"  href="/wishlist/add/<%= item.id %>?name=<%= item.name %>">Add to wishlist</a>                              
                                   <span class="button" id="price"><%= item.price %></span>                           
                                              <select class="currency-selector">
                                                <option data-symbol="$" data-placeholder="0.00" selected>USD</option>
                                                <option data-symbol="€" data-placeholder="0.00">EUR</option>
                                                <option data-symbol="£" data-placeholder="0.00">GBP</option>                                             
                                              </select>  
                                      
                                </div>
                                <a class="btn btn-info"  href="/product/<%= item.id %>/share"><i class="fab fa-facebook"></i> Share</a> 
                              </div>
                            </div>     
                            </div>          
            </div>
          </div>        
    </body>		
    
    
	

<!-- Latest compiled JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/lightslider.js"></script>
<script src="/javascripts/slider.js"></script>
<script src="/javascripts/converter.js"></script>
<script src="/javascripts/zInput.js"></script>
<script>
    $(".demo").zInput();
    </script>

</html>