<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
        <link rel="stylesheet" href="/stylesheets/login.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    
    <body>
        <%- include('../modules/header')%>
            <div class="container">
                   
    
                    <div class="card bg-light" style="margin-top: 150px">
                    <article class="card-body mx-auto" style="max-width: 400px;">
                        <h4 class="card-title mt-3 text-center">Account</h4>                     
                        <form action="/user/update" method="POST">
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <input id="name" name="name" class="form-control" placeholder="<%= session.user.name%>" type="text" required>
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <input id="email" name="email" class="form-control" placeholder="<%= session.user.email%>" type="email" disabled>
                        </div> <!-- form-group// -->
                         <!-- form-group// -->                       
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input id="password" name="password" class="form-control" placeholder="New password" type="password" pattern=".{6,}"   required title="6 characters minimum">
                        </div> <!-- form-group// -->
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                            </div>
                            <input name="repeat_password" class="form-control" placeholder="Repeat password" type="password" pattern=".{6,}"   required title="6 characters minimum">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                        </div> <!-- form-group// -->     
                        <div class="form-group" style=" display: flex; justify-content:space-between;">
                                <a href="/cart" style="text-decoration: none;"> 
                                    <i class="fas fa-shopping-cart fa-2x" style="color: #212529;"></i> 
                                    <% if(session.cart) {%>
                                                <span class="badge badge-dark" style="text-decoration: none;"><%=session.cart.totalQty%></span>
                                        <%} else {%>
                                                <span class="badge badge-dark" style="text-decoration: none;">0</span>
                                     <%}%>                                   
                                </a>
                                
                                <a href="/wishlist" style="text-decoration: none;"> 
                                    <i class="fas fa-heart fa-2x" style="color: #212529;"></i> 
                                    <span class="badge badge-dark" style="text-decoration: none;"><%= wishLength%></span>
                                </a>
                                
                        </div>                                 
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Update info  </button>
                        </div>
                        <div class="form-group" style="display: flex; justify-content:center">
                                <a href="/user/logout" class="btn btn-primary btn-danger">Logout</a>
                            </div>
                        <!-- form-group// -->                                                                                           
                    </form>
                    </article>
                    </div> <!-- card.// -->
                    <%- include('../modules/recentlyView')%>
                    </div> 
                    <!--container end.//-->
                    
	</body>		
		   <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>


</html>